.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;
}

.select2 {
    width: 100% !important;
}

/* Overwrite the default to keep the scrollbar always visible on lists */

ul.select2-results__options::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

ul.select2-results__options::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }
  
ul.select2-results__options::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }

/* Slide out right panel styles */
@media (min-width: 768px) {
    .control-sidebar-open .content-wrapper, .control-sidebar-open .right-side, .control-sidebar-open .main-footer {
        margin-right: 250px;
    }}

.control-sidebar-bg, .control-sidebar {
    right: -250px;
    width: 250px;
    }

/* CSS for User Guiding Button */
@media (max-width: 767px) {
    div.sc-jlyJG.dtPwid {
        display: none!important;
    }
}
.dtPwid {
    box-shadow: none!important;
}

/* CCS for bootstrap datatables

.btn-group {
    float: right!important;
}
div.dataTables_filter {
    display: inline-block!important;
    text-align: left!important;
    margin-left: 15px;
}
#DataTables_Table_0_length {
    display: inline-block!important;
}

textarea#notes.form-control {
    line-height: 10px;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #B0BED9!important;
}
*/