.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;
}

.select2 {
    width: 100% !important;
}

/* Overwrite the default to keep the scrollbar always visible on lists */

ul.select2-results__options::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

ul.select2-results__options::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }
  
ul.select2-results__options::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }

/* Slide out right panel styles */
@media (min-width: 768px) {
    .control-sidebar-open .content-wrapper, .control-sidebar-open .right-side, .control-sidebar-open .main-footer {
        margin-right: 250px;
    }}

.control-sidebar-bg, .control-sidebar {
    right: -250px;
    width: 250px;
    }

/* CCS for bootstrap datatables*/

.btn-group {
    float: right!important;
}
div.dataTables_filter {
    display: inline-block!important;
    text-align: left!important;
    margin-left: 15px;
}
#DataTables_Table_0_length {
    display: inline-block!important;
    margin-right: 10px;
}

textarea#notes.form-control {
    line-height: 10px;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: rgb(206, 101, 101)!important;
}

/* Product Stash */
div.notification-dot {
    margin-top: 0px!important;
    top: 10px!important;
    right: 20px!important;
    font-size: 11px!important;
}
.public-releases .r-header {
    background: #528cbf!important;
}